/** footer **/
.footer__copyright {
    background-color: $blue-dark-2;
    color: $white;
    padding: em(10.5) em(15);
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: em(12);
}