$browser-context: 16;

@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

$white: #ffffff;
$black: #000000;
$blue-light: #f9faf2;
$blue-light-1: #eff1e0;
$blue-light-2: #e6e9cd;
$blue-middle: #d3d9a7;
$blue-middle-1: #c0c881;
$blue-middle-2: #adb474;
$blue-dark: #909661;
$blue-dark-1: #73784d;
$blue-dark-2: #5e623f;

* {
    box-sizing: border-box;
    margin: em(0);
    padding: em(0);
  }

.owl-theme .owl-dots .owl-dot {
  span {
    width: em(20);
    height: em(3);
    margin: em(5) em(3);
    background: $blue-light;
  }

  &.active span, &:hover span {
    background: $blue-dark-2;
  }
}

a {
  cursor: pointer;
  outline: 0;
  text-decoration: none;
}

ul {
  &.icon-list {
    padding: 0;
    margin: 0;
  }
}

.icon-list {
  li {
    display: table;
    margin: em(0) em(0) em(8);
  }

  i,
  .fas,
  .fa,
  .far,
  .icon {
    padding-top: em(4.5);
    font-size: em(19);
    width: 1%;
    color: $blue-light;
    padding-right: em(15);
  }

  i,
  span {
    display: table-cell;
    vertical-align: top;
  }

  #map.half-width {
    height: 400px;
    width: 100%;
  }

  .social-icons {
    display: inline-block;
  }

  .full-wh {
    width: 100%;
    height: 100%;
  }
}