// Fonts
@font-face {
  font-family: Barlow, Nunito, sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Nunito') format('woff'),
       url('https://fonts.googleapis.com/css2?family=Barlow') format('woff');
  font-display: fallback;
}

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import '~swiper/swiper-bundle.min.css';
@import './frontend/style';